form{
    height: 480px;
    border:1px solid #ccc;
    border-radius: 10px;
}

img{
    height: 100px;
    width:180px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 0px;
}

h2{
    padding-top: 18px;
}